@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
body{
 /*   background-color: #182D09;*/
    color: #F3FFB6;
   background-image: url("../assets/screenfull.png");
    background-repeat: no-repeat;
    
}




h1{
    font-family: "Spirax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-left:15%;
    margin-bottom: 0;
    margin-top:5%;
}

h2{
    font-family: "Spirax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left:15%;
    margin-top:0;
}



p{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    width:300px;

}


#left{

 width:129.44px;
height:144px;
 margin-left:50%;
 bottom:20px;

}

#right{
width:175.04px;
height:146px;
margin-left:300px;
bottom:20px;
}

#nav{
    margin-top: 500px;
    margin-left:10%;
    display: flex;
    justify-content: space-around;
    position:fixed;

}

#text{
    display: flex;
    justify-content: space-around;
}



canvas{
    display:block;
    margin:auto;
    z-index=-1; /*this mean layer down*/
}

h3{
    position:fixed;
    left:50%;
    bottom:20px;
}

